@model List<BlogCategory>
@{
    ViewData["Title"] = "Index";
}

<div class="container" style="margin-top:80px">
    <h1 class="h3 mb-2 text-gray-800">Blog Category</h1>
    <div class="row">
        <div class="col-lg-12">
            <a asp-controller="BlogCategory" asp-action="Create" class="btn btn-primary mb-4">Create</a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Edits</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>

                                <td>@item.Name</td>

                                <td>
                                    <a asp-controller="BlogCategory" asp-action="Update"asp-route-id="@item.Id">
                                        <i class="bx-edit-alt">Update</i>
                                    </a>

                                    <a onclick="return confirm('Are you sure?')" asp-controller="BlogCategory" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa-times">Delete</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

