
@model NoticeBoard
@{
    ViewBag.Title = "Create";
}


<div class="row justify-content-center" style="margin-top:80px">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create course</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label asp-for="Description">Message</label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date">Date</label>
                        <input asp-for="Date" class="form-control" placeholder="Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
