@model List<Tag>
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top:80px">
    <h1 class="h3 mb-2 text-gray-800">Tag</h1>
    <div class="row">
        <div class="col-lg-12">
            <a asp-controller="Tag" asp-action="Create" class="btn btn-primary mb-4">Create</a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Modifie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>
                                    <a href="@Url.Action("Update", "Tag", new { id=item.Id})">
                                        <i class="bx-edit-alt">Edit</i>
                                    </a>

                                    <a onclick="return confirm('Are you sure?')" href="@Url.Action("Delete", "Tag", new { id=item.Id})">
                                        <i class="bx-time">Delete</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

